@import "tailwindcss";

/* Navigation underline animation */
html,
body {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.animated-underline {
    position: relative;
    text-decoration: none;
}

.animated-underline::after {
    content: '';
    position: absolute;
    bottom: -5;
    left: 50%;
    width: 0;
    height: 5px;
    border-radius: 4px;
    background-color: #ef4444;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.animated-underline:hover::after,
.animated-underline.active::after {
    width: 80%;
}